body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: white;
  transition: all 500ms;

  &.lightMode {
    background-color: black;
  }
}

.theme-toggle {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 40px;
  height: 40px;
  color: black;
  cursor: pointer;

  &.lightMode {
    color: white;
  }
}
