.buttons {
  display: flex;
  transition: background 500ms;
  background-color: var(--numbers-bg);

  @media only screen and (max-width: 600px) {
    flex-wrap: wrap;
  }
}

.numbers {
  display: flex;
  flex-wrap: wrap;

  .number {
    height: auto;
    flex: 1 0 calc(100% / 3);
    color: var(--numbers);
  }

  .equals {
    height: auto;
    flex: 1 0 calc(100% / 3);
    color: white;
    background-color: var(--arithmetic-operation);
  }

  @media only screen and (max-width: 600px) {
    flex: 75%;
  }
}

.advanced-operations {
  display: flex;
  flex-wrap: wrap;
  color: var(--numbers);
  background-color: var(--advanced-operations);

  div {
    height: 75px;
    flex: 1 0 25%;
  }
}

.arithmetic-operations {
  display: flex;
  flex-direction: column;
  background-color: var(--arithmetic-operation);
  color: white;

  div {
    height: 25%;
  }

  @media only screen and (max-width: 600px) {
    flex: 1 1 25%;
  }
}

.numbers,
.advanced-operations,
.arithmetic-operations {
  transition: background 500ms;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    text-align: center;
    font-size: 3rem;
    border: 1px solid var(--border);
    user-select: none;
    transition: background 500ms, border-color 500ms, color 500ms;

    &:active {
      box-shadow: inset 1px 1px 10px #333;
    }

    @media only screen and (max-width: 600px) {
      width: auto;
      height: calc((100vh - 100px) / 8);
      font-size: 2.5rem;
    }
  }
}
