.buttons {
  display: flex;
  background-color: #757677;
}

.numbers,
.advanced-operations,
.simple-operations {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50px;
    user-select: none;
    font-family: "Poppins", sans-serif;
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
    font-size: 2rem;
    color: white;
    width: 100px;
    border: 1px solid #48494a;

    &:active {
      box-shadow: inset 1px 1px 10px #333;
    }
  }
}

.numbers div:nth-child(12) {
  background-color: #fe9d08;
}

.advanced-operations {
  background-color: #5a5b5c;
}

.simple-operations {
  display: flex;
  flex-direction: column;
  background-color: #fe9d08;

  div {
    height: 50px;
    width: 100px;
  }
}
