.buttons {
  display: flex;
  background-color: #757677;
}

.numbers,
.advanced-operations,
.arithmetic-operations {
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100px;
    height: 50px;
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    color: white;
    border: 1px solid #48494a;
    user-select: none;

    &:active {
      box-shadow: inset 1px 1px 10px #333;
    }
  }
}

.numbers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.advanced-operations {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-color: #5a5b5c;
}

.arithmetic-operations {
  display: flex;
  flex-direction: column;
  background-color: #fe9d08;
}

.numbers div:nth-child(12) {
  background-color: #fe9d08;
}
